body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
audio {
    margin: 20px;
    width: 100%;
    max-width: 600px;
}
.scroll-container {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
}
.scroll-image {
    display: block;
    width: 100%;
    height: auto;
}
